.item-card {
	display: grid;
    grid-template-rows: auto 1fr;
    margin: 10px;
    padding: 1rem;
    text-align: center;
}

.item-card h2 {
    margin: 10px;
	font-size: large;
}

.item-card span {
    margin: 3px;
    font-size: small;
}

.item-card {
    min-width: 350px;
	height: auto;
}

.item-card img {
    margin: auto;
}

.item-card span.item-card-value {
	display: block;
	margin: 20px 0px;
}

.grid .item-card {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.grid .item-card:hover {
    box-shadow: 0 0 25px #333;
    transform: scale(1.01);
    cursor: pointer;
    transition: transform 0.3s;
}

.list .item-card:nth-child(odd) {
    background-color: #aac5e1;
}

.list .item-card:hover {
    background-color: #aab2bb;
}

.main-container, .grid.directory-preview {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    place-items: center;
	min-height: 500px;
}

.list .item-card img {
	height: 50px;
}

.list .item-card {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	width: 100%;
	padding: 1rem;
	margin: 0;
	align-items: center;
	height: auto;
}

.list .item-card span.item-card-value{
	display: block;
}

.list {
    align-items: center;
    width: auto;
    box-shadow: none;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.view-selector.active {
	background-color: #aac5e1;
}